<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<div th:fragment="ajouter">
    <h1 class="ui header">Ajouter un exemplaire</h1>

    <form th:object=${exemplaire} method="post">


        <div class="ui form">
            <div class="two fields">
                <div class="field">
                    <label for="codebarre">Codebarre :</label>
                    <input type="text" th:field="*{codebarre}" id="codebarre">
                    <ul>
                        <li th:each="err : ${#fields.errors('codebarre')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
                <div class="field">
                    <label for="louable">Louable :</label>
                    <input type="checkbox" th:field="*{louable}" id="louable">
                    <ul>
                        <li th:each="err : ${#fields.errors('louable')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="submit" class="ui green button">Ajouter</button>

    </form>
</div>

<div th:fragment="lister">
    <h1 class="ui header">Liste des exemplaires</h1>
<!--    <a href="/jeu/ajouter" class="ui green button">Ajouter</a>-->

    <div class="ui cards">
        <div class="card" th:each="exemplaire : ${exemplaires}">
            <div class="content">
                <div class="header">
                    Codebarre : [[${exemplaire.codebarre}]]
                </div>
                <div class="description">
                    Louable : [[${exemplaire.louable}]]
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic blue button">Modifier</div>
                    <div class="ui basic red button">Supprimer</div>
                </div>
            </div>
        </div>
    </div>

    <a href="/" class="ui gray button">Retour</a>
</div>

<div th:fragment="modifier">
    <h1 class="ui header">Modifier l'exemplaire</h1>

    <form th:object=${exemplaire} method="post">

        <input type="hidden" th:field="*{no_exemplaire}">
        <input type="hidden" th:field="*{jeu}">

        <div class="ui form">
            <div class="two fields">
                <div class="field">
                    <label for="codebarre">Codebarre :</label>
                    <input type="text" th:field="*{codebarre}" id="codebarre">
                    <ul>
                        <li th:each="err : ${#fields.errors('codebarre')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
                <div class="field">
                    <label for="louable">Louable :</label>
                    <input type="checkbox" th:field="*{louable}" id="louable">
                    <ul>
                        <li th:each="err : ${#fields.errors('louable')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="submit" class="ui green button">Modifier</button>

    </form>
</div>