<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="ui piled segment" th:fragment="menu">
    <h2 class="ui header">Client</h2>
    <p>
        <a href="/client/lister" class="ui gray button">Lister client</a>
        <a href="/client/ajouter" class="ui green button">Ajouter client</a>
    </p>

    <h2 class="ui header">Jeu</h2>
    <p>
        <a href="/jeu/lister" class="ui gray button">Lister jeu</a>
        <a href="/jeu/ajouter" class="ui green button">Ajouter jeu</a>
    </p>
</div>
